<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/book-tickets.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lexend Deca">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Handy Manny</title>
</head>
<body>
    <div class="topnav" id="myTopnav">
        <b><a id="navbar-title" href="#">handy manny.</a></b>
        <a href="/dashboard">Dashboard</a>
        <a href="/book-tickets">Book Tickets</a>
        <a href="/track">Track</a>
        <a href="/account">Account</a>
        <a href="/logout">Logout</a>
        <a id="navbar-title" href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i style="font-size: 2rem;" class="fa fa-bars"></i>
        </a>
    </div>
    <b><h1 id="main-header"><%- name %>, where would you like to go next ?</h1></b>
    <p class="main-hint-text">book a ticket</p>
    <button type="button" data-toggle="modal" data-target="#location1" class="choose-location">Choose Locations</button>
    <div class="container"> 
        <div class="box"> 
            <div class="box-row"> 
                <div class="box-cell box1"> 
                    <p class="from">FROM</p>
                    <h1 class="place"><%= typeof from_location != 'undefined' ? from_location : 'New York City' %></h1>
                    <p class="location"><%= typeof from_station_name != 'undefined' ? from_station_name : 'Station 1, New York City' %></p>
                </div> 
                <div class="box-cell box2"> 
                    <p class="from">TO</p>
                    <h1 class="place"><%= typeof to_location != 'undefined' ? to_location : 'San Francisco' %></h1>
                    <p class="location"><%= typeof to_station_name != 'undefined' ? to_station_name : 'Station 5, San Francisco' %></p>
                </div> 
            </div> 
        </div> 
    </div> 
    <img class="arrow-icon" src="https://cdn.discordapp.com/attachments/745141823210782720/746385989810782308/unknown.png">
    <form method="POST" action="/book-tickets">
        <label class="radio-1">
          <input type="radio" value="one-way" name="optradio" checked>  One-way
        </label>
        <label class="radio-inline">
          <input type="radio" value="round-trip" name="optradio">  Round Trip
        </label>
        <input name="from_location" type="hidden" value="<%= typeof from_location != 'undefined' ? from_location : 'New York City' %>">
        <input name="to_location" type="hidden" value="<%= typeof to_location != 'undefined' ? to_location : 'San Francisco' %>">
        <input name="from_station_name" type="hidden" value="<%= typeof from_station_name != 'undefined' ? from_station_name : 'Station 1, New York City' %>">
        <input name="to_station_name" type="hidden" value="<%= typeof to_station_name != 'undefined' ? to_station_name : 'Station 5, San Francisco' %>">
        <a href=""><button type="submit" class="continue">Continue</button></a>
    </form>
    <table>
        <tr>
          <th>Estimated Travel Time</th>
          <th>Ticket Cost</th>
          <th>Expected Attendance</th>
          <th>Platform Changes</th>
        </tr>
        <tr>
          <td>1hr 45mins</td>
          <td>$20</td>
          <td>60 people</td>
          <td>4</td>
        </tr>
    </table>
    <div class="modal fade" id="location1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div id="modal-body" class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" style="font-family: 'Lexend Deca'" id="exampleModalLabel"><b>From</b></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="POST" action="/choose-from">
            <select name="From_Locations" id="dropdown-selector">
              <option value="New York City">New York City</option>
              <option value="San Francisco">San Francisco</option>
              <option value="Boston">Boston</option>
              <option value="Los Angeles">Los Angeles</option>
              <option value="Austin">Austin</option>
              <option value="Washington DC">Washington DC</option>
            </select>
            <br><br>
            <select name="From_Station" id="dropdown-selector">
              <option value="Station 1">Station 1</option>
              <option value="Station 2">Station 2</option>
              <option value="Station 3">Station 3</option>
              <option value="Station 4">Station 4</option>
              <option value="Station 5">Station 5</option>
            </select>
          </div>
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" style="font-family: 'Lexend Deca'" id="exampleModalLabel"><b>To</b></h5>
              </button>
            </div>
            <div class="modal-body">
              <select name="To_Locations" id="dropdown-selector">
              <option value="New York City">New York City</option>
              <option value="San Francisco">San Francisco</option>
              <option value="Boston">Boston</option>
              <option value="Los Angeles">Los Angeles</option>
              <option value="Austin">Austin</option>
              <option value="Washington DC">Washington DC</option>
              </select>
              <br><br>
              <select name="To_Station" id="dropdown-selector">
                <option value="Station 1">Station 1</option>
                <option value="Station 2">Station 2</option>
                <option value="Station 3">Station 3</option>
                <option value="Station 4">Station 4</option>
                <option value="Station 5">Station 5</option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </form>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/navbar.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>