<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css" />
    <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lexend Deca">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Handy Manny</title>
</head>
<body>
    <div class="topnav" id="myTopnav">
        <b><a id="navbar-title" href="#home">handy manny.</a></b>
        <a href="/dashboard">Dashboard</a>
        <a href="/book-tickets">Book Tickets</a>
        <a href="/track">Track</a>
        <a href="/account">Account</a>
        <a href="/logout">Logout</a>
        <a id="navbar-title" href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i style="font-size: 2rem;" class="fa fa-bars"></i>
        </a>
    </div>
    <h1 id="main-header">Namaste, <%- name %>.</h1>
    <p class="main-hint-text">scheduled metro(s)</p>
    <%- include('./partials/messages') %>
    <div class="big-div">
        <% if(bookings.length == 0) { %> 
            <div class="train-div"><img src="https://cdn.discordapp.com/attachments/733943303493386282/745699770441531503/unknown.png" id="train-icon"></img><p id="train-para" class="responsive" >None</p><p class="train-hint-text"></p><p class="train-hint-text"><span style="color: black"></span></p></div>  
        <% } %>
        <% for (let i = 0; i < bookings.length; i++) { %>
            <div class="train-div"><img src="https://cdn.discordapp.com/attachments/733943303493386282/745699770441531503/unknown.png" id="train-icon"></img><p id="train-para">From <%- bookings[i].from_station_name %> <br> To <%- bookings[i].to_station_name %></p><p class="train-hint-text">Departure at <%- bookings[i].departure_day_time %><br>Return at <%- bookings[i].arrival_day_time %> </p><p class="train-hint-text">Train ID: <span style="color: black"><%- bookings[i].train_id %></span></p></div>
        <% } %>
    </div>
    <p class="main-hint-text">travel history</p>
    <div class="big-div">
        <div class="train-div"><img src="https://cdn.discordapp.com/attachments/733943303493386282/745699770441531503/unknown.png" id="train-icon"></img><p id="train-para" class="responsive" >From Station 3, Boston <br> To Station 5, San Francisco</p><p class="train-hint-text">Departure at Thursday, 9:00 AM<br>Return at Thursday, 9:30 PM </p><p class="train-hint-text">Train ID: <span style="color: black">ngl32</span></p></div>
        <div class="train-div"><img src="https://cdn.discordapp.com/attachments/733943303493386282/745699770441531503/unknown.png" id="train-icon"></img><p id="train-para">From Station 3, Boston <br> To Station 5, San Francisco</p><p class="train-hint-text">Departure at Thursday, 9:00 AM<br>Return at Thursday, 9:30 PM </p><p class="train-hint-text">Train ID: <span style="color: black">d3d42</span></p></div>
    </div>
    <p class="main-hint-text">deals and offers</p>
    <div class="big-div">
        <div class="deal-div"><img style="padding-top: 1%;" src="https://cdn.discordapp.com/attachments/733943303493386282/746454327174103112/unknown.png" id="deal-icon"></img><p id="deal-para">20% off for using HDFC<br>Mastercard</p><p class="deal-hint-text">This deal is only valid till 2nd September. You'll regret not taking advantage of it.</div>
        <div class="deal-div"><img style="padding-top: 1%;" src="https://cdn.discordapp.com/attachments/733943303493386282/746454327174103112/unknown.png" id="deal-icon"></img><p id="deal-para">20% off for using HDFC<br>Mastercard</p><p class="deal-hint-text">This deal is only valid till 2nd September. You'll regret not taking advantage of it.</div>
    </div>
    <br><br><br>
    <script src="/js/navbar.js"></script>
</body>
</html>