<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/pay.css" />
    <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lexend Deca">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Handy Manny</title>
</head>
<body>
    <div class="topnav" id="myTopnav">
        <b><a id="navbar-title" href="#">handy manny.</a></b>
        <a href="/dashboard">Dashboard</a>
        <a href="/book-tickets">Book Tickets</a>
        <a href="/track">Track</a>
        <a href="/account">Account</a>
        <a href="/logout">Logout</a>
        <a id="navbar-title" href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i style="font-size: 1.5rem;" class="fa fa-bars"></i>
        </a>
    </div>
    <h1 id="main-header"><%- name %>, how would you like to pay?</h1>
    <p class="main-hint-text">book a ticket</p>
    <div class="pay-div">
        <h1>Payment Method</h1>
        <div class="radio-toolbar">
            <input type="radio" id="radio1" name="radios" value="all" checked>
            <label for="radio1">Credit Card</label>
          
            <input type="radio" id="radio2" name="radios" value="false">
            <label for="radio2">PayPal</label>
          
            <input type="radio" id="radio3" name="radios" value="true">
            <label for="radio3">Apple Pay</label>
        </div>
        <h1 style="margin-top: 2rem;margin-bottom: 1.5rem;">Choose Card</h1>
        <input type="radio" id="saved">
        <label>&nbsp;&nbsp;VISA</label><br>
        <input type="radio" id="saved">
        <label>&nbsp;&nbsp;Mastercard</label><br>
        <input type="radio" id="saved">
        <label>&nbsp;&nbsp;Add New Card</label><br>
        <h1 id="card-deets">Name on Card</h1>
        <input class="card-input">
        <h1 id="card-deets">Card Number</h1>
        <input class="card-input">
        <h1 id="card-deets">Exp Date &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; CVV</h1>
        <input placeholder="MM / YY" class="card-input-half">
        <input type="password" style="margin-left: 3.8rem;" class="card-input-half"><br>
        <input type="checkbox" id="save-card">
        <label>&nbsp;&nbsp;Save this card for future purchases</label>
        <a style="text-decoration: none;" href="/booking-success"><button id="confirm">Confirm Order</button></a>
    </div>
    <div class="train-div"><img src="https://cdn.discordapp.com/attachments/733943303493386282/745699770441531503/unknown.png" id="train-icon"></img><p id="train-para">From <%- from_station_name %> <br> To <%- to_station_name %></p><p class="train-hint-text">Departure at <%- departure_day_time %><br>Return at <%- arrival_day_time %> </p><p class="train-fees"><b>$<%- amount %></b></p></div>
    <script src="/js/navbar.js"></script>
</body>
</html>