<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <h1 id="header" href="#">Handy Manny</h1>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="navbar-collapse collapse" id="navbarColor01">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="#">My bookings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Offers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Schedule</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Train Status</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Book</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/profile">Profile <span class="sr-only">(current)</span> </a>
        </li>
        <li class="nav-item">
            <a href="/users/logout" class="nav-link">Logout</a>
        </li>
      </ul>
    </div>
</nav>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">
          <i class="fas fa-user"></i> Edit profile
        </h1>
        <%- include('./partials/messages') %>
        <form action="/profile" method="POST">
          <div class="form-group">
            <label for="name"><b>Name</b></label>
            <input
              type="name"
              id="name"
              name="name"
              class="form-control"
              placeholder="Name"
              value="<%= typeof name != 'undefined' ? name : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="email"><b>Email</b></label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Email"
              value="<%= typeof email != 'undefined' ? email : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="email"><b>Age</b></label>
            <input
              type="tel"
              id="age"
              name="age"
              class="form-control"
              placeholder="Age"
              value="<%= typeof age != 'undefined' ? age : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="email"><b>City</b></label>
            <input
              type="text"
              id="city"
              name="city"
              class="form-control"
              placeholder="City"
              value="<%= typeof city != 'undefined' ? city : '' %>"
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block">
            Save Profile
          </button>
        </form>
      </div>
    </div>
  </div>