<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/book-tickets.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lexend Deca">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Handy Manny</title>
</head>
<body>
    <div class="topnav" id="myTopnav">
        <b><a id="navbar-title" href="/">handy manny.</a></b>
        <a href="/dashboard">Dashboard</a>
        <a href="/book-tickets">Book Tickets</a>
        <a href="/track">Track</a>
        <a href="/account">Account</a>
        <a href="/logout">Logout</a>
        <a id="navbar-title" href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i style="font-size: 2rem;" class="fa fa-bars"></i>
        </a>
    </div>
    <h1 id="main-header"><%- name %>, when would you like to go?</h1>
    <p class="main-hint-text">book a ticket</p>
    <button type="button" data-toggle="modal" data-target="#arr-dep-deets" class="choose-location">Choose Dates</button>
    <div class="container"> 
        <div class="box"> 
            <div class="box-row"> 
                <div class="box-cell box1"> 
                    <p class="from">DEPARTURE</p>
                    <h1 class="place"><%= typeof departure_date != 'undefined' ? departure_date : '20 Aug' %></h1>
                    <p class="location"><%= typeof departure_day_time != 'undefined' ? departure_day_time : 'Thursday, 9:30 PM' %></p>
                </div> 
                <div class="box-cell box2"> 
                    <p class="from">RETURN</p>
                    <h1 class="place"><%= typeof arrival_date != 'undefined' ? arrival_date : '21 Aug' %></h1>
                    <p class="location"><%= typeof arrival_day_time != 'undefined' ? arrival_day_time : 'Thursday, 11:30 PM' %></p>
                </div> 
            </div> 
        </div> 
    </div> 
    <form method="POST" action="/select-dates">
        <label class="radio-inline">
          <input required id="tickets-input" type="number" min="1" max="4" name="tickets">  Tickets
        </label>
        <input name="departure_date" type="hidden" value="<%= typeof departure_date != 'undefined' ? departure_date : '20 Aug' %>">
        <input name="departure_day_time" type="hidden" value="<%= typeof departure_day_time != 'undefined' ? departure_day_time : 'Thursday, 9:30 PM' %>">
        <input name="arrival_date" type="hidden" value="<%= typeof arrival_date != 'undefined' ? arrival_date : '21 Aug' %>">
        <input name="arrival_day_time" type="hidden" value="<%= typeof arrival_day_time != 'undefined' ? arrival_day_time : 'Thursday, 11:30 PM' %>">
        <button type="submit" id="tickets-continue">Continue</button>
    </form>
    <table>
        <tr>
          <th>Estimated Travel Time</th>
          <th>Ticket Cost</th>
          <th>Expected Attendance</th>
          <th>Platform Changes</th>
        </tr>
        <tr>
          <td>1hr 45mins</td>
          <td>$20</td>
          <td>60 people</td>
          <td>4</td>
        </tr>
    </table>
    <div class="modal fade" id="arr-dep-deets" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div id="modal-body2" class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" style="font-family: 'Lexend Deca'" id="exampleModalLabel"><b>Departure Details</b></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form method="POST" action="/choose-dates">
              <select name="Departure_Dates" id="dropdown-selector1">
                <option value="20 Aug">20 Aug</option>
                <option value="21 Aug">21 Aug</option>
                <option value="22 Aug">22 Aug</option>
                <option value="23 Aug">23 Aug</option>
              </select>
               <select name="Departure_Day" id="dropdown-selector2">
                <option value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                 <option value="Thursday">Thursday</option>
                <option value="Friday">Friday</option>
                 <option value="Saturday">Saturday</option>
                 <option value="Sunday">Sunday</option>
              </select>
               <select name="Departure_Time" id="dropdown-selector3">
                <option value="9 AM">9 AM</option>
                <option value="10:30 AM">10:30 AM</option>
                <option value="12 PM">12 PM</option>
                 <option value="1:30 PM">1:30 PM</option>
                <option value="3 PM">3 PM</option>
                 <option value="6 PM">6 PM</option>
                 <option value="9:30 PM">9:30 PM</option>
              </select>
            </div>
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" style="font-family: 'Lexend Deca'" id="exampleModalLabel"><b>Arrival Details</b></h5>
                </button>
              </div>
              <div class="modal-body">
               <select name="Arrival_Dates" id="dropdown-selector1">
                <option value="20 Aug">20 Aug</option>
                <option value="21 Aug">21 Aug</option>
                <option value="22 Aug">22 Aug</option>
                <option value="23 Aug">23 Aug</option>
              </select>
               <select name="Arrival_Day" id="dropdown-selector2">
                <option value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                 <option value="Thursday">Thursday</option>
                <option value="Friday">Friday</option>
                 <option value="Saturday">Saturday</option>
                 <option value="Sunday">Sunday</option>
              </select>
               <select name="Arrival_Time" id="dropdown-selector3">
                <option value="9 AM">9 AM</option>
                <option value="10:30 AM">10:30 AM</option>
                <option value="12 PM">12 PM</option>
                 <option value="1:30 PM">1:30 PM</option>
                <option value="3 PM">3 PM</option>
                 <option value="6 PM">6 PM</option>
                 <option value="9:30 PM">9:30 PM</option>
              </select>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save</button>
            </form>
            </div>
          </div>
        </div>
      </div>
    <script src="/js/navbar.js"></script>
</body>
</html>