<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/track.css" />
    <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lexend Deca">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Handy Manny</title>
</head>
<body>
    <div class="topnav" id="myTopnav">
        <b><a id="navbar-title" href="#home">handy manny.</a></b>
        <a href="/dashboard">Dashboard</a>
        <a href="/book-tickets">Book Tickets</a>
        <a href="/track">Track</a>
        <a href="/account">Account</a>
        <a href="/logout">Logout</a>
        <a id="navbar-title" href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i style="font-size: 2rem;" class="fa fa-bars"></i>
        </a>
    </div>
    <h1 id="main-header"><%- name %>, track any metro.</h1>
    <p class="main-hint-text">get live updates of a metro</p>
    <form method="POST" action="/search">
    <input id="train_id" placeholder="Metro ID" type="text" name="train_id" value="<%= typeof train_id != 'undefined' ? train_id : '' %>">
    <button type="submit" id="search-button">Search</button>
    </form>
    <table>
        <tr>
            <th>ETA</th>
            <th>Expected Attendance</th>
            <th>Departure Station</th>
            <th>Arrival Station</th>
            <th>Status</th>
        </tr>
        <tr>
            <td><%= typeof eta != 'undefined' ? eta : '1hr 20mins' %></td>
            <td><%= typeof expected_attendance != 'undefined' ? expected_attendance : '70' %> people</td>
            <td><%= typeof from_station_name != 'undefined' ? from_station_name : 'Station 1, Los Angeles' %></td>
            <td><%= typeof to_station_name != 'undefined' ? to_station_name : 'Station 4, San Francisco' %></td>
            <td>On time</td>
        </tr>
    </table>
    <script src="/js/navbar.js"></script>
</body>
</html>